
@{
    ViewBag.Title = "OrderPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderPage</h2>

<form id="orderForm">
    <button type="submit" id="submitOrder" name="SubmitOrder" class="btn btn-primary">Finalise Order</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#submitOrder").click(function (e) {
                e.preventDefault();
                var baseUrl = "@Url.Action("SubmitOrder","Order")";
                window.location.href = baseUrl;
                    
            });
        });
    </script>
}

