
@{
    ViewBag.Title = "OrderPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderPage</h2>

<head>
    @*tried to get paypal working, checkout page wouldn't stay open
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>*@
</head>

<form id="orderForm" action="/order/charge" method="POST">

    <article>
        <label id="stripeAmount"></label>
    </article>
    <script id="stripeScript" src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Checkout"
            data-amount="">
    </script>
    <br/>
    
</form>

@section scripts
{
    <script>
        $(document).ready(function () {
            var orderTotal;
            $.ajax({
                url: "/basket/getbasket/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (basket) {
                    orderTotal = 0;
                    $.each(basket.Products, function (k, v) {
                        $("#orderForm").append("<div id='productDiv'>",
                            "<label>Product Name: </label> <input id='name" + v.Id + "' name='Name' disabled> </input>",
                            "<label>Product Description: </label> <input id='description" + v.Id + "' name='Description' disabled> </input>",
                            "<label>Product Price: </label> <input id='price" + v.Id + "' name='Price' disabled> </input>",
                            "<label>Quantity: </label> <input id='quantity" + v.Id + "' name='Quantity' disabled> </input>",
                            "</div>",
                            "<br>");
                        $('#name' + v.Id).val(v.Name);
                        $("#description" + v.Id).val(v.Description);
                        $("#price" + v.Id).val(v.Price);
                        $("#quantity" + v.Id).val(v.Quantity);
                        orderTotal += (v.Price * v.Quantity);
                    });     
                }
            }).done(function() {
                $("#stripeAmount").text("Amount: £" + orderTotal);
            }); 
        });  
    </script>
}

