
@{
    ViewBag.Title = "SubmitOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ORDER SUBMITTED</h1>

<text>You will be redirected soon</text>

<div id="smsSettings">
    <input type="hidden" id="smsNumber" value=""/>
</div>
<div>

</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/basket/getbasket/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(basket) {
                    $.ajax({
                        url: "/api/order/",
                        method: "POST",
                        data: JSON.stringify(basket),
                        contentType: "application/json",
                        traditional: true,
                        processData: false
                    }).done(function () {
                        $.ajax({
                            url: "/mail/SendOrderConfirmation",
                            method: "POST"
                        });
                        $.ajax({
                            url: "/SMS/SendMessage",
                            method: "POST"
                        });
                        $.ajax({
                            url: "/basket/clearbasket",
                            method: "POST"
                        }).done(function() {
                            setTimeout(
                                function () {
                                    var baseUrl="@Url.Action("Index","Home")";
                                    window.location.href=baseUrl;
                                }, 2000);
                        });
                    }).fail(function() {
                        toastr.error("NOPE");
                    });
                }
            });
        });
    </script>
}

