
@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Orders</h2>
<table id="orders" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Tracking Number</th>
        <th>Order Total</th>
        <th>Order Date</th>
        <th>View</th>
        <th>Cancel Order</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $("#orders").DataTable({
                ajax: {
                    url: "/api/order/" + @Html.Raw(ViewBag.userId),
                    method: "GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id"
                    },
                    {
                        data: "TrackingNumber"
                    },
                    {
                        data: "OrderTotal"
                    },
                    {
                        data: "OrderDate",
                        render: function(d){
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        data: "Id",
                        render: function(data) {
                            console.log(data);
                            return "<a href='/order/vieworder/" + data + "' class='btn btn-primary'>View</a>";
                        }
                    },
                    {
                        data: "Id",
                        render: function(data) {
                            return "<button id='cancel' data-internalid='"+data+"' class='btn btn-primary js-cancel'>Cancel</button>";
                        }
                    }
                ]
            });

            $(document).on("click", ".js-cancel",
                function() {
                    var buttonId = $(this).attr("data-internalid");
                    $.ajax({
                        url: "/api/order/vieworder/" + buttonId,
                        method: "GET"
                    }).done(function(order) {
                        var d = new Date();
                        var od = new Date(order.OrderDate);
                        od.setDate(od.getDate() + 2);
                        if (d > od) {
                            bootbox.alert("Unable to cancel order after 48 hours");
                            
                        } 
                        else if(d < od)
                        {
                            bootbox.confirm("Are you sure you want to cancel this order?",
                                function(confirmed) {
                                    if (confirmed) {
                                        $.ajax({
                                            url: "/mail/sendordercancellation/",
                                            method: "POST"
                                        });
                                        $.ajax({
                                            url: "/api/order/" + buttonId,
                                            method: "DELETE"
                                        }).done(function() {
                                            $.ajax({
                                                url: "/SMS/SendCancelMessage",
                                                method: "POST"
                                            });
                                            window.location.reload();
                                        }).fail(function() {
                                            toastr.error("Something unexpected happened");
                                        });
                                    }
                                });
                        };

                    });
                    
                });
        });
            


    </script>
}

