@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Order</h2>

<button class="btn btn-primary" id="return" name="Return">Return to Orders</button>

<table id="orderLines" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#orderLines").DataTable({
                ajax: {
                    url: "/api/orderline/" + @Html.Raw(ViewBag.orderId),
                    method: "GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Product.Name"
                    },
                    {
                        data: "Product.Description"
                    },
                    {
                        data: "Quantity"
                    },
                    {
                        data: "Product.Price"
                    },
                    {
                        data: "LineTotal"
                    }
                ]
            });

            $("#return").click(function(e) {
                e.preventDefault();
                var baseUrl="@Url.Action("ViewOrders","Order", new { id = HttpContext.Current.User.Identity.GetUserId() },null)";
                window.location.href=baseUrl;
            });
        });


    </script>
}




