
@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Orders</h2>
<table id="orders" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Tracking Number</th>
        <th>Order Total</th>
        <th>Order Date</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $("#orders").DataTable({
                ajax: {
                    url: "/api/order/" + @Html.Raw(ViewBag.userId),
                    method: "GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id"
                    },
                    {
                        data: "TrackingNumber"
                    },
                    {
                        data: "OrderTotal"
                    },
                    {
                        data: "OrderDate",
                        render: function(d){
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        data: "Id",
                        render: function(data) {
                            console.log(data);
                            return "<a href='/order/vieworder/" + data + "' class='btn-primary'>View</a>";
                        }
                    }
                ]
            });
        });
            


    </script>
}

