
@{
    ViewBag.Title = "ViewBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Referrer"] = System.IO.Path.GetFileName(Request.Url.AbsolutePath);
}

<h2>View Basket</h2>

<form id="basketForm">
    <submit id="checkout" name="Checkout" class="btn btn-primary">Checkout</submit>
</form>

@section scripts
{
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/basket/getbasket/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(basket) {
                    $.each(basket.Products,
                        function(k, v) {
                            $("#basketForm").append("<div id='productDiv"+v.Id+"'>",
                                "<label>Product Name: </label> <input id='name" +
                                v.Id +
                                "' name='Name' readonly> </input>",
                                "<label>Product Description: </label> <input id='description" +
                                v.Id +
                                "' name='Description' readonly> </input>",
                                "<label>Product Price: </label> <input id='price" +
                                v.Id +
                                "' name='Price' readonly> </input>",
                                "<label>Quantity: </label> <select id='quantity"+v.Id+"' data-internalid='"+v.Id+"' value='' name='Quantity' class='js-dropdownQuantity'>" +
                                "<option value='1'>1</option>" +
                                "<option value='2'>2</option>" +
                                "<option value='3'>3</option>" +
                                "<option value='4'>4</option>" +
                                "<option value='5'>5</option>" +
                                "<option value='6'>6</option>" +
                                "<option value='7'>7</option>" +
                                "<option value='8'>8</option>" +
                                "<option value='9'>9</option>" +
                                "<option value='10'>10</option>" +
                                "</select>",
                                "</div>",
                                "<button id='delete" +
                                v.Id +
                                "' name='Delete' class='btn btn-primary js-delete' value='" +
                                v.Id +
                                "'>Remove</button>",
                                "<input id='product" +
                                v.Id +
                                "' name='Id' type='hidden' value='"+v.Id+"'/>",
                                "<br>");
                            $('#name' + v.Id).val(v.Name);
                            $("#description" + v.Id).val(v.Description);
                            $("#price" + v.Id).val(v.Price);
                            $("#quantity" + v.Id).val(v.Quantity);
                            $("#product" + v.Id).val(v.Id);
                        });
                }
            });

            $("#basketForm").on("change", "select", function () {
                var id = $(this).attr('data-internalid');
                $.ajax({
                    url: "/api/product/" + id,
                    method: "GET",
                    success: function (product) {
                        product.Quantity = $("#quantity" + id).find(":selected").val();
                        $.ajax({
                            url: "/basket/AddToBasket/",
                            method: "POST",
                            data: product
                        });
                    }
                });
                
            });

            $("#checkout").on("click",
                function() {
                    var baseUrl="@Url.Action("OrderPage","Order")";
                    window.location.href=baseUrl;
                });

            $("#basketForm").on("click",
                ".js-delete",
                function(e) {
                    e.preventDefault();
                    var clickedButton = $(this).attr('value');
                    console.log(clickedButton);
                    console.log($(this).val());
                    $.ajax({
                        url: "/basket/removeitemfrombasket/" + clickedButton,
                        method: "POST"
                    }).done(function() {
                        location.reload();
                    }).fail(function() {
                        toastr.error("Something unexpected happened");
                    });

                });
        });
    </script>


}





