
@{
    ViewBag.Title = "ViewBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Basket</h2>

<form id="basketForm">
    
    <submit id="checkout" name="Checkout" class="btn btn-primary">Checkout</submit>
</form>

@section scripts
{
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/basket/getbasket/",
                method: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (basket) {
                    $.each(basket.Products, function(k, v) {
                        $("#basketForm").append("<div id='productDiv'>",
                            "<label>Product Name: </label> <input id='name" + v.Id + "' name='Name' disabled> </input>",
                            "<label>Product Description: </label> <input id='description" + v.Id + "' name='Description' disabled> </input>",
                            "<label>Product Price: </label> <input id='price" + v.Id + "' name='Price' disabled> </input>",
                            "<label>Quantity: </label> <input id='quantity" + v.Id + "' name='Quantity' disabled> </input>",
                            "</div>",
                            "<button id='delete" + v.Id + "' name='Delete' class='btn btn-primary js-delete' value='" + v.Id + "'>Remove</button>",
                            "<br>");
                        $('#name' + v.Id).val(v.Name);
                        $("#description" + v.Id).val(v.Description);
                        $("#price" + v.Id).val(v.Price);
                        $("#quantity" + v.Id).val(v.Quantity);
                    });
                }
            });

            $("#checkout").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/basket/getbasket/",
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function () {
                    var baseUrl = "@Url.Action("OrderPage","Order")";
                    window.location.href = baseUrl;
                }).fail(function () {
                    toastr.error("Something unexpected happened");
                });

            });

            $("#basketForm").on("click", ".js-delete",function (e) {
                e.preventDefault();
                var clickedButton = $(this).attr('value');
                console.log(clickedButton);
                console.log($(this).val());
                $.ajax({
                    url: "/basket/removeitemfrombasket/" + clickedButton,
                    method: "POST"
                }).done(function () {
                    location.reload();
                }).fail(function () {
                    toastr.error("Something unexpected happened");
                });

            });
        });
    </script>
}

