@model dynamic
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Product</h2>


<form id="newProduct">
    <div class="form-group">
        <label>Product Name</label>
        <input id ="name" name="Name" value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Product Description</label>
        <textarea id="description" name="Description" value="" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Product Colour</label>
        <input id="colour" name="Colour" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Product Price</label>
        <input id="price" name="Price" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Product Stock</label>
        <input id="stock" name="Stock" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Re-order Quantity</label>
        <input id="reorderQuantity" name="ReorderQuantity" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Delivery Lead Times</label>
        <input id="deliveryLeadTimes" name="DeliveryLeadTimes" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Supplier</label>
        <select id="supplier" name="SupplierId" class="form-control">
        </select>
    </div>

    
    <button id="submitForm" class="btn btn-primary">submit</button>
</form>


@section Scripts
{ 
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/supplier",
                method: "GET",
                success: function(result) {
                    $.each(result,
                        function (k, v) {
                            $("#supplier").append("<option value='" + v.Id + "'>" + v.Name + "</option>");
                        });
                }
            });

            $("#submitForm").click(function (e) {
                e.preventDefault();
                var data = $("#newProduct").serialize() + '&Supplier.Id=' + $("#supplier").find(":selected").val();
                $.ajax({
                    url: "/api/product",
                    method: "POST",
                    data: data
                }).done(function () {
                    toastr.success("Product Created");
                    setTimeout(
                        function () {
                            var baseUrl="@Url.Action("Index","Product")";
                            window.location.href=baseUrl;
                        }, 2000);
                }).fail(function () {
                    toastr.error("Something unexpected happened");
                });
            });
        });
    </script>
    
}



