@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>



<form id="editProduct">
        <div class="form-group">
            <label>Product Name</label>
            <input id="name" name="Name" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Product Description</label>
            <textarea id="description" name="Description" value="" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Product Colour</label>
            <input id="colour" name="Colour" value="" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Product Price</label>
            <input id="price" name="Price" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Product Stock</label>
            <input id="stock" name="Stock" value="" class="form-control" />
        </div>
        <div class="form-group">
            <input id="productId" name="Id" type="hidden" value="" class="form-control" />
        </div>

        <button id="submitForm" class="btn btn-primary">submit</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/product/" + @ViewBag.productId,
                method: "GET",
                success: function (product) {
                    $("#name").val(product.Name);
                    $("#description").val(product.Description);
                    $("#colour").val(product.Colour);
                    $("#price").val(product.Price);
                    $("#stock").val(product.Stock);
                    $("#supplier").val(product.Supplier.Name);
                    $("#productId").val(product.Id);
                }
            });

            $("#submitForm").click(function (e) {
                e.preventDefault();

                var data = $("#editProduct").serialize()  + '&Product.Id=' + @ViewBag.productId;
                $.ajax({
                    url: "/api/product/" + $("#productId").val(),
                    method: "POST",
                    data: data
                }).done(function () {
                    toastr.success("Product Edited");
                    setTimeout(
                        function () {
                            var baseUrl="@Url.Action("Index","Product")";
                            window.location.href=baseUrl;
                        }, 2000);
                }).fail(function () {
                    toastr.error("Something unexpected happened");
                });

            });
        })
    </script>
}